@mixin breakpoint($bp) {
  @if $bp ==tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp ==tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp ==desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp ==desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}


@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@mixin button {
  display: inline-block;
  border-radius: 28px;
  color: $white;
  padding: 9px 24px 11px 24px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
}

@mixin grey-type {
  color: $grey;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

@mixin black-type {
  font-size: 32px;
  font-weight: 800;
}



 
 
 
 
